<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="NotificationRule" stopProcessing="true">
          <match url="^(20[0-9]{2}-[0-9]{2}-[0-9]{2}_.*)$" />
          <action type="Rewrite" url="/Notification.ashx?name={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>